<!doctype html>
<head>
  <title>Robarts Capstone</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class=page>
    <h1>Flaskr</h1>
    <div class=metanav>
    {% if user.email %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% else %}
      <a href="{{ url_for('login') }}">log in</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
</body>