<html>
  <head>
    <title>ROBARTS CAPSTONE OOBE WIFI CONFIG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Robarts Capstone: Please provide your wireless network.</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Wifi Name" name="wifiname" value="{{
          request.form.wifiname }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>